.flex-items {font-family: fantasy;}
.flex-container {
    display: flex;
    margin-top: 20px; /* Ajuste la valeur selon tes besoins */
    margin-left: 10px;  /* Ajuste la valeur selon tes besoins */
    margin-right: 10px; /* Ajuste la valeur selon tes besoins */
    margin-bottom: 20px;
}

body {background-color:lightblue ;}